# Actividad - Trabajando con Series de Pandas.
## Criterios de evaluación.

* Se deben utilizar nombres de variables descriptivos y claros (Utilizar la nomeclatura correspondiente para los nombres de variables).
* Comentarios claros y concisos que expliquen el propósito de cada sección del código.
* Utilizar mensajes de commit **descriptivos**. (Puedes utilizar la extension CONVENTIONAL COMMIT de VS-CODE). 
* Entrega en tiempo y forma.
* Todo el código desarrollado debe ser subido a un repositorio en GitHub (el nombre del repositorio de seguir la siguiente estructura: actividad_tlp3_nombre_apellido).
* Para resolver las actividades se debe insertar casillas de codigo entre cada actividad del cuaderno de Jupyter

### ¡Importante!
**El incumplimiento de los criterios de evaluación restará puntos en la nota final del práctico!**

### **Actividad 1:** 

Crear Series desde diferentes estructuras.
* Crea una Series con los números del 1 al 5
* Crea una Series a partir de un diccionario con nombres de países como claves y sus capitales como valores.

In [ ]:
# todo:
from pandas import Series
#Crea una serie con valore del 1 al 5
nueva_serie = Series([1,2,3,4,5])

#Crea una serie con nombres de paises como clave y sus capitales como valores
serie_paises = Series({"España": "Madrid", "Argentina": "Buenos Aires", "Chile": "Santiago","Paraguay":"Asuncion"})
serie_paises

España             Madrid
Argentina    Buenos Aires
Chile            Santiago
Paraguay         Asuncion
dtype: object

### **Actividad 2:** 
Acceso y selección de elementos.
* Usa una Series con tareas (que haceres cotidianos) de una semana
* Accede a diferentes elementos a elección.
* Cambia los valores de los dias pares.

In [ ]:

# todo:
#Crea una serie con tareas cotidianas
serie_tareas_diarias = Series({"Lunes":"Barrer","Martes":"Limpiar el piso","Miercoles":"Ordenar la piesa","Jueves":"Hacer la compra","Viernes":"Lavar la ropa","Sabado":"Cocinar","Domingo":"Descansar"})

#Accede a diferentes elementos a elección
print(serie_tareas_diarias[1])
print(serie_tareas_diarias[3])
print(serie_tareas_diarias[5])

print(f"""Tareas por defecto: {serie_tareas_diarias}""")

#Accede a los indices pares y modifica sus valores
serie_tareas_diarias[::2] = "Nueva tarea"
print(f"""Serie de tareas con los valores pares cambiados {serie_tareas_diarias}""")

Limpiar el piso
Hacer la compra
Cocinar
Tareas por defecto: Lunes                  Barrer
Martes        Limpiar el piso
Miercoles    Ordenar la piesa
Jueves        Hacer la compra
Viernes         Lavar la ropa
Sabado                Cocinar
Domingo             Descansar
dtype: object
Serie de tareas con los valores pares cambiados Lunes            Nueva tarea
Martes       Limpiar el piso
Miercoles        Nueva tarea
Jueves       Hacer la compra
Viernes          Nueva tarea
Sabado               Cocinar
Domingo          Nueva tarea
dtype: object

C:\Users\IPF-2025\AppData\Local\Temp\ipykernel_12220\2187288883.py:6: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(serie_tareas_diarias[1])
C:\Users\IPF-2025\AppData\Local\Temp\ipykernel_12220\2187288883.py:7: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(serie_tareas_diarias[3])
C:\Users\IPF-2025\AppData\Local\Temp\ipykernel_12220\2187288883.py:8: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print(serie_tareas_diarias[5])

### **Actividad 3:**
Operaciones aritméticas. 
* Realiza las operaciones basicas con 2 series cuales quieran.
* Eleva los valores de la primer serie a 3 potencias difetentes.

In [34]:
# todo:
serie_1 = Series([1, 2, 3, 4, 5])
serie_2 = Series([10, 20, 30, 40, 50])
print(f"""Series1: """)
print(serie_1)
print(f"""Series2: """)
print(serie_2)

Series1:
0    1
1    2
2    3
3    4
4    5
dtype: int64
Series2:
0    10
1    20
2    30
3    40
4    50
dtype: int64

In [35]:

#Operaciones entre series
suma = serie_1 + serie_2
resta = serie_1 - serie_2
producto = serie_1 * serie_2
division = serie_1 / serie_2
print(f"""Suma de series: """)
print(suma)
print(f"""Resta entre series: """)
print(resta)
print(f"""Producto de series:""")
print(producto)
print(f"""División entre series:""") 
print(division)

Suma de series:
0    11
1    22
2    33
3    44
4    55
dtype: int64
Resta entre series:
0    -9
1   -18
2   -27
3   -36
4   -45
dtype: int64
Producto de series:
0     10
1     40
2     90
3    160
4    250
dtype: int64
División entre series:
0    0.1
1    0.1
2    0.1
3    0.1
4    0.1
dtype: float64

In [36]:
#eleva la primera serie a distintos números
print(serie_1 ** 3)
print(serie_1 ** 5)
print(serie_1 ** 9)

0      1
1      8
2     27
3     64
4    125
dtype: int64
0       1
1      32
2     243
3    1024
4    3125
dtype: int64
0          1
1        512
2      19683
3     262144
4    1953125
dtype: int64

### **Actividad 4:** 
Filtrado con condiciones.
* Crea una Series de edades de 10 personas.
* Muestra solo a los mayores de 18.
* Reemplaza a los menores por "Menor de edad".

In [44]:
# todo:
serie_edades = Series([12,23,43,65,13,53,21,7,67,6])
print(f"""Edades por defecto: {serie_edades}""")
#Muestra solo las edades mayores de 18

mayores = serie_edades[serie_edades > 18]
print(f"""Mayores de edad: {mayores}""")

#
serie_edades[serie_edades < 18] = "Menor de adad"
print(f"""Edades con los valores menores a 18 reeplazados: {serie_edades}""")

Edades por defecto: 0    12
1    23
2    43
3    65
4    13
5    53
6    21
7     7
8    67
9     6
dtype: int64
Mayores de edad: 1    23
2    43
3    65
5    53
6    21
8    67
dtype: int64
Edades con los valores menores a 18 reeplazados: 0    Menor de adad
1               23
2               43
3               65
4    Menor de adad
5               53
6               21
7    Menor de adad
8               67
9    Menor de adad
dtype: object

C:\Users\IPF-2025\AppData\Local\Temp\ipykernel_12220\118290926.py:10: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'Menor de adad' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  serie_edades[serie_edades < 18] = "Menor de adad"

### Actividad 5:
Estadísticas básicas.

* Crea una Series con las notas de 10 estudiantes.
* Calcula la media, mediana, desviación estándar y máximo.
* Muestra cuántos estudiantes aprobaron si el mínimo para aprobar es 6.
* Ordenar las notas de manera ascendente y descendente.

In [58]:

# todo:
#Serie con las notas de 10 alumnos
nota_alumnos = Series([5,7,4,2,3,8,6,10,9,5])

#Calcula la media, mediana, desviación estándar y máximo.
print(f"""Media: {nota_alumnos.mean()}""")
print(f"""Mediana: {nota_alumnos.median()}""")
print(f"""Desviación estandar: {nota_alumnos.std()}""")
print(f"""Máximo: {nota_alumnos.max()}""")

#Muestra solo los alumnos con notas mayores o iguales a 6
alumnos_aprobados = nota_alumnos[nota_alumnos >= 6]
print(alumnos_aprobados)

#Ordena las notas en orden descendete y ascendente
print(f"""Notas en orden Ascendente: {nota_alumnos.sort_values()}""")
print(f"""Notas en orden Descendente: {nota_alumnos.sort_values(ascending=False)}""")

Media: 5.9
Mediana: 5.5
Desviación estandar: 2.601281735350223
Máximo: 10
1     7
5     8
6     6
7    10
8     9
dtype: int64
Notas en orden Ascendente: 3     2
4     3
2     4
0     5
9     5
6     6
1     7
5     8
8     9
7    10
dtype: int64
Notas en orden Descendente: 7    10
8     9
5     8
1     7
6     6
0     5
9     5
2     4
4     3
3     2
dtype: int64